

@{
    //Layout = "_Layout";
    Layout = "_AdminLayout";
    ViewData["Title"] = "Orders";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
            <div class="col-md-12">
                <a class="float-sm-right" href="/admin/orders/manage/">
                    <button class="btn btn-primary">Add new</button>
                </a>
                <a class="float-sm-right" href="/admin/orders/export/">
                    <button class="btn btn-primary">Export</button>
                </a>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="orders" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Customer name</th>
                                    <th>Total</th>
                                    <th>Discount</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
                                
@section Scripts {
    <script>
        var table ;
        $(document).ready(function () {
            table = $('#orders').DataTable({
                'processing': true,
                'serverSide': true,
                'serverMethod': 'post',
                'ajax': {
                    'url': '/admin/orders/Ordersajax',
                },
                'createdRow': function (row, data, dataIndex) {
                    $(row).attr('id', 'Product-' + data.id);
                },
                'columns': [
                    {
                        data: "order.orderId",
                    },
                    {
                        data: 'customer.customerName',
                    }
                    ,
                    {
                        data: "order.orderTotal",
                    },
                    {
                        data: "order.orderDiscount",
                    },
                    {
                        data: "order.orderStatus",
                    },
                    {
                        data: "order.orderId",
                        render: function (data, type, row, meta) {
                            var action = '';
                            action += `<a  href="/admin/orders/manage/` + row.order.orderId + `"><i class="fas fa-pen"></i></a>`;
                            action += `<a  href="/admin/orders/pdf/` + row.order.orderId + `"><i class="fas fa-file-pdf"></i></a>`;
                            action += `<a  href="javascript:del(` + row.order.orderId + `)"><i class="far fa-trash-alt"></i></a>`;
                            return action;
                        }
                    }
                ],
                "order": [[1, "desc"]]
            });
        })

        function del(id) {

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/admin/Orders/delete',
                        data: {
                            id: id
                        },
                        method: 'post',
                        success: function (response) {
                            Swal.fire(
                                'Deleted!',
                                'User Deleted successfully'
                            );
                            $('.user-' + id).remove();
                            table.draw();

                        }

                    })
                }
            })


        }
    </script>
}



